<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="../static/imgs/logo_source.jpg" type="image/x-icon" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="../static/lib/bootstrap/5.1.3/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/index.css">
  <title>卫龙-笔记收藏</title>
</head>

<body oncontextmenu="return false" onselectstart="return false" oncopy="return false">
  <div class="wt-div">
    <div class="tittle">
      <span><img src="../static/imgs/logo_white.png" alt="" srcset="" draggable="false"></span><span style="font-size: 32px;" onclick="logout()">注销</span>
    </div> <!-- tittle end -->
    <div class="middle">
      <div class="api" title="实时更新新冠肺炎全国疫情数据API接口" onclick="goNotes('https://api.vvhan.com/covid.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p class="apiName">新冠肺炎疫情实时数据</p>
      </div>
      <div class="api" title="每天更新十二星座运势,十二星座爱情运势,配对星座等" onclick="goNotes('https://api.vvhan.com/horoscope.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p class="apiName">每日星座运势API接口</p>
      </div>
      <div class="api" title="获取系统及浏览器和当地天气信息" onclick="goNotes('https://api.vvhan.com/qianming.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>IP天气签名档API接口</p>
      </div>
      <div class="api" title="自动识别快递单号" onclick="goNotes('https://api.vvhan.com/kuaidi.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>智能快递查询API接口</p>
      </div>
      <div class="api" title="支持电话 文字 链接的QRAPI" onclick="goNotes('https://api.vvhan.com/erweima.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>二维码生成API接口</p>
      </div>
      <div class="api"
        title="百度热点采集、36氪24小时热榜、哔哩哔哩全站日榜、豆瓣小组精选、历史上的今天、少数派最热文章、百度热点、微博热搜、知乎热榜、抖音热点、IT资讯热榜,最新、百度贴吧热议、虎扑步行街聚合API免费接口"
        onclick="goNotes('https'+':' + '//api.vvhan.com/hotlist.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>热榜热搜各站热榜聚合API</p>
      </div>
      <div class="api" title="全网网课答案在线搜索" onclick="goNotes('https://api.vvhan.com/wangke.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>网课题库API接口</p>
      </div>
      <div class="api" title="查询手机号是否是骚扰诈骗电话" onclick="goNotes('https://api.vvhan.com/saorao.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>骚扰电话查询API接口</p>
      </div>
      <div class="api" title="精确度可达到城市" onclick="goNotes('https://api.vvhan.com/shouji.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>手机号归属地查询API接口</p>
      </div>
      <div class="api" title="支持所有缩短的短网址进行还原" onclick="goNotes('https://api.vvhan.com/short.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>短网址还原API接口</p>
      </div>
      <div class="api" title="获取操作系统，浏览器，浏览器版本，访客IP地址，访问时间" onclick="goNotes('https://api.vvhan.com/fangke.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>访客相关信息获取API接口</p>
      </div>
      <div class="api" title="网易云音乐 随机歌曲输出" onclick="goNotes('https://api.vvhan.com/wangyisj.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>网易云随机歌曲API接口</p>
      </div>
      <div class="api" title="解析网易 QQ 虾米 百度各大平台音乐直链" onclick="goNotes('https://api.vvhan.com/wangyi.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>网易云等音乐解析API接口</p>
      </div>
      <div class="api" title="随机获取网易云热歌神热评论" onclick="goNotes('https://api.vvhan.com/reping.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>网易云随机热论API接口</p>
      </div>
      <div class="api" title="可查 城市 县区的天气情况" onclick="goNotes('https://api.vvhan.com/tianqi.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>天气情况API接口</p>
      </div>
      <div class="api" title="获取必应每日壁纸" onclick="goNotes('https://api.vvhan.com/bing.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>Bing每日图片API接口</p>
      </div>
      <div class="api" title="获取网站的Ico站标" onclick="goNotes('https://api.vvhan.com/tubiao.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>Ico站标获取API接口</p>
      </div>
      <div class="api" title="查询网站ICP备案信息" onclick="goNotes('https://api.vvhan.com/beian.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>ICP备案查询API接口</p>
      </div>
      <div class="api" title="获取QQ昵称和头像等信息" onclick="goNotes('https://api.vvhan.com/qq.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>获取QQ头像昵称API接口</p>
      </div>
      <div class="api" title="解析QQ收藏title和content" onclick="goNotes('https://api.vvhan.com/shoucang.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>QQ收藏解析API接口</p>
      </div>
      <div class="api" title="查看指定QQ是否电脑在线" onclick="goNotes('https://api.vvhan.com/diannao.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>QQ电脑在线查询API接口</p>
      </div>
      <div class="api" title="每日一句喜欢的句子" onclick="goNotes('https://api.vvhan.com/yiyan.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机一句一言API接口</p>
      </div>
      <div class="api" title="随机获取一段笑话" onclick="goNotes('https://api.vvhan.com/xiaohua.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机笑话API接口</p>
      </div>
      <div class="api" title="随机输出一句撩人的情话" onclick="goNotes('https://api.vvhan.com/qinghua.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机一句情话API接口</p>
      </div>
      <div class="api" title="随机输出一句骚骚的骚话" onclick="goNotes('https://api.vvhan.com/saohua.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机一句骚话API接口</p>
      </div>
      <div class="api" title="随机输出一张超清风景图片" onclick="goNotes('https://api.vvhan.com/fengjing.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机风景图片API接口</p>
      </div>
      <div class="api" title="随机输出一张超清动漫图片" onclick="goNotes('https://api.vvhan.com/dongman.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机二次元图片API接口</p>
      </div>
      <div class="api" title="随机输出手机分辨率cosplay或福利姬等美图" onclick="goNotes('https://api.vvhan.com/girl.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机手机分辨率美图API接口</p>
      </div>
      <div class="api" title="随机输出电脑分辨率cosplay或福利姬等美图" onclick="goNotes('https://api.vvhan.com/girls.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机电脑分辨率美图API接口</p>
      </div>
      <div class="api" title="自定义密码实现字符串的加密解密" onclick="goNotes('https://api.vvhan.com/jiami.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>字符串加密/解密API接口</p>
      </div>
      <div class="api" title="智能分类垃圾" onclick="goNotes('https://api.vvhan.com/laji.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>垃圾分类API接口</p>
      </div>
      <div class="api" title="输入你想翻译的句子" onclick="goNotes('https://api.vvhan.com/fanyi.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>万能翻译API接口</p>
      </div>
      <div class="api" title="查询域名是否可注册" onclick="goNotes('https://api.vvhan.com/yuming.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>域名注册查询API接口</p>
      </div>
      <div class="api" title="实时获取国内电影排行及票房" onclick="goNotes('https://api.vvhan.com/movies.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>电影实时排行票房API接口</p>
      </div>
      <div class="api" title="输出豆瓣电影前10部" onclick="goNotes('https://api.vvhan.com/douban.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>豆瓣电影排行API接口</p>
      </div>
      <div class="api" title="随机显示淘宝买家图片" onclick="goNotes('https://api.vvhan.com/tao.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>淘宝买家秀API接口</p>
      </div>
      <div class="api" title="随机输出浅色或深色或随机HTML颜色" onclick="goNotes('https://api.vvhan.com/color.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机16进制HTML颜色API接口</p>
      </div>
      <div class="api" title="把文字转换成语音.mp3" onclick="goNotes('https://api.vvhan.com/song.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>文字转语音API接口</p>
      </div>
      <div class="api" title="在线解析蓝奏云文件直链" onclick="goNotes('https://api.vvhan.com/lanzou.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>蓝奏云盘直链解析API接口</p>
      </div>
      <div class="api" title="获取网站的title" onclick="goNotes('https://api.vvhan.com/biaoti.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>获取网站标题API接口</p>
      </div>
      <div class="api" title="查询域名在百度搜狗好搜收录量" onclick="goNotes('https://api.vvhan.com/site.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>百度搜狗好搜收录量查询API接口</p>
      </div>
      <div class="api" title="查询域是否被百度搜狗好搜收录" onclick="goNotes('https://api.vvhan.com/siteor.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>判断百度搜狗好搜是否收录API接口</p>
      </div>
      <div class="api" title="解析全民K歌各种信息" onclick="goNotes('https://api.vvhan.com/kge.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>全民K歌全能解析API接口</p>
      </div>
      <div class="api" title="检测域名是否被墙，国内无法打开！" onclick="goNotes('https://api.vvhan.com/qiang.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>查询域名是否被墙API接口</p>
      </div>
      <div class="api" title="让你的博客有梅花飘落" onclick="goNotes('https://api.vvhan.com/meihua.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>博客添加梅花API接口</p>
      </div>
      <div class="api" title="为你的博客加上春节灯笼" onclick="goNotes('https://api.vvhan.com/denglong.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>博客添加春节灯笼API接口</p>
      </div>
      <div class="api" title="网站添加满屏雪花下雪" onclick="goNotes('https://api.vvhan.com/xuehua.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>满屏雪花下雪API接口</p>
      </div>
      <div class="api" title="在网页的任何地方添加透明波浪" onclick="goNotes('https://api.vvhan.com/bolang.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>HTML的svg透明波浪特效API接口</p>
      </div>
      <div class="api" title="网站博客添加樱花效果" onclick="goNotes('https://api.vvhan.com/yinghua.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>网站添加樱花效果API接口</p>
      </div>
      <div class="api" title="获取IP地址的详细信息定位到区/县" onclick="goNotes('https://api.vvhan.com/ipinfo.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>获取IP信息归属地详细版</p>
      </div>
      <div class="api" title="QQ内打开自动跳转QQ个人资料卡" onclick="goNotes('https://api.vvhan.com/qqcard.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>QQ资料卡跳转API接口</p>
      </div>
      <div class="api" title="QQ强制聊天跳转API接口" onclick="goNotes('https://api.vvhan.com/qqchat.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>QQ强制聊天跳转API接口</p>
      </div>
      <div class="api" title="随机输出英雄联盟超清人物壁纸" onclick="goNotes('https://api.vvhan.com/lolskin.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机LOL超清人物壁纸API接口</p>
      </div>
      <div class="api" title="每天60秒读懂世界API接口" onclick="goNotes('https://api.vvhan.com/60s.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>每天60秒读懂世界API接口</p>
      </div>
      <div class="api" title="每日一句励志英语" onclick="goNotes('https://api.vvhan.com/en.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>每日一句励志英语API接口</p>
      </div>
      <div class="api" title="随机数出各类头像" onclick="goNotes('https://api.vvhan.com/avatar.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机输出头像API接口</p>
      </div>
      <div class="api" title="实时更新微博热搜榜单" onclick="goNotes('https://api.vvhan.com/wbhot.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>微博热搜实时API接口</p>
      </div>
      <div class="api" title="每天更新摸鱼日历" onclick="goNotes('https://api.vvhan.com/moyu.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>摸鱼人日历API接口 - 公众号:摸鱼人日历</p>
      </div>
      <div class="api" title="获取知乎用户详细信息" onclick="goNotes('https://api.vvhan.com/zhihu.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>知乎用户信息获取API接口</p>
      </div>
      <div class="api" title="随机输出图片，电脑版居多" onclick="goNotes('https://api.uomg.com/doc-rand.img1.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机横版图片展示</p>
      </div>
      <div class="api" title="随机输出竖版手机壁纸" onclick="goNotes('https://api.uomg.com/doc-rand.img2.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>随机竖版图片展示</p>
      </div>
      <div class="api" title="随机输出淘宝买家秀图片" onclick="goNotes('https://api.uomg.com/doc-rand.img3.html')">
        <img src="../static/imgs/logo_api.svg" draggable="false">
        <p>淘宝买家秀图片</p>
      </div>
      <div class="python" title="PythonAnywhere 部署 Flask 项目" onclick="goNotes('https://www.cnblogs.com/taotao0805/p/16905376.html')">
        <img src="../static/imgs/logo_python.svg" draggable="false">
        <p>PythonAnywhere 部署 Flask 项目</p>
      </div>
      <div class="linux" title="Ubuntu 安装 ros" onclick="goNotes('https://note.youdao.com/s/cLROa7di')">
        <img src="../static/imgs/logo_linux.svg" draggable="false">
        <p>Ubuntu 安装 ros</p>
      </div>
      <div class="linux" title="Ubuntu 安装 搜狗输入法" onclick="goNotes('https://note.youdao.com/s/OBvUM6W9')">
        <img src="../static/imgs/logo_linux.svg" draggable="false">
        <p>Ubuntu 安装搜狗输入法</p>
      </div>
      <div class="linux" title="Ubuntu sh 文件开启自启" onclick="goNotes('https://note.youdao.com/s/4Hg9kwy')">
        <img src="../static/imgs/logo_linux.svg" draggable="false">
        <p>sh 文件开启自启</p>
      </div>
      <div class="linux" title="Ubuntu 查看GPU, CPU, MEM, NET 等信息" onclick="goNotes('https://note.youdao.com/s/3vcEq8N8')">
        <img src="../static/imgs/logo_linux.svg" draggable="false">
        <p>indicator-sysmonitor</p>
      </div>
      <div class="linux" title="Ubuntu 安装 Mysql8" onclick="goNotes('https://note.youdao.com/s/1zcF29qC')">
        <img src="../static/imgs/logo_linux.svg" draggable="false">
        <p>Ubuntu 安装 Mysql8</p>
      </div>
      <div class="linux" title="内网穿透工具" onclick="goNotes('https://note.youdao.com/s/2vfOC3FH')">
        <img src="../static/imgs/logo_linux.svg" draggable="false">
        <p>内网穿透工具</p>
      </div>
      <div class="linux" title="Ubuntu 安装 zsh" onclick="goNotes('https://note.youdao.com/s/ME7KWxdr')">
        <img src="../static/imgs/logo_linux.svg" draggable="false">
        <p>Ubuntu 安装 zsh</p>
      </div>
    </div> <!-- middle end -->
    <div class="footer">
      <marquee behavior="" direction="left" class="notes-count"></marquee> <!-- 跑马灯 -->
      <span>Copyright © 2022.11.17</span>
      <span title="卫龙的Github"><a href="https://github.com/gwt805/" target="_blank"><img src="../static/imgs/github4.svg"
            draggable="false"></a></span>
      <span title="卫龙的博客园"><a href="https://www.cnblogs.com/taotao0805/" target="_blank"><img
            src="../static/imgs/bky.png" draggable="false" style="width: 28px;"></a></span>
    </div> <!-- footer end -->
    <canvas id="canvas"></canvas>
  </div>
</body>
<script src="../static/lib/jquery/1.9.1/jquery.min.js"></script>
<script src="../static/lib/bootstrap/5.1.3/bootstrap.bundle.min.js"></script>
<script src="../static/js/canvas.js"></script>
<script src="../static/js/disable.js"></script>
<script>
  // 跳转笔记或者API介绍页面
  function goNotes(url) {
    window.open(url, "_black");
  }

  // 退出登录
  function logout(){
    document.cookie = "isLogin=false;";
    window.location.href = ("/");
  }
  
  const apiCount = document.getElementsByClassName("api").length;
  const pyCount = document.getElementsByClassName("python").length;
  const unixCount = document.getElementsByClassName("linux").length;
  $(".notes-count").html("API-笔记：<t style='color:rgb(255,100,0)'>" + apiCount + "</t>个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Python-笔记：<t style='color:rgb(255,100,0)'>" + pyCount + "</t>个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Linux-笔记：<t style='color:rgb(255,100,0)'>" + unixCount + "</t>个");

</script>

</html>